@import '../../../styles/colors-variables';

.item {
  position: relative;
  display: block;
  height: 320px;
  border-radius: 5px;
  background-color: $bgColorLight;
  border: 1px solid $lightGray;
  &-image {
    img {
      width: 100%;
      border-radius: 5px;
      height: 270px;
      object-fit: cover;
    }
  }
  &-rating {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    left: 10px;
    background-color: $bgColorLight;
    border-radius: 5px;
    padding: 5px 10px;
    .app-mat-icon {
      align-items: center;
      color: gold;
      margin-right: 4px;
      margin-bottom: 5px;
    }
  }
  &-title {
    text-align: center;
    font-weight: bold;
    margin: 0.5rem;
  }
}
